@tailwind base;
@tailwind components;
@tailwind utilities;


/* Nova Tool CSS */
.w-\[20\%\]{
    width: 20%;
}
.w-\[75\%\]{
    width: 75%;
}
.justify-evenly{
    justify-content: space-evenly;
}
.p-\[15px\]{
padding: 15px;
}

.items-start {
    align-items: start;
}

.mb-1 {
   margin-bottom: 5px;
}
